*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: linear-gradient(to bottom, #ee8acb, #eb32b6, #ea1d63);
    --bg-color-container: #FF8DA5;
    --text-color: #fff;
    --text-color-secondary: #7a0039;
    --main-color: #ea1d63;   
    --select-color: #7a0039;
}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    text-shadow:
    5px 5px 10px #ea1d63; 
    padding: 28px 12%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
   color: var(--main-color);
   font-size: 28px;
   margin-right: 3px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a:active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.container {
    background-color: var(--bg-color-container);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 150px auto 0px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: 1.8rem;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content:left;
    gap: 20px;
}

.capa {
    width: 100%;
    max-width: 50%; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-right: 2px solid #fff;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    color: #fff;
    font-size: 1rem;
}

.text-section .divider {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 10px;
}

.btn-create-category {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffb6c1;
    color: white;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #ff8aae;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-create-category:hover {
    background-color: #ff8aae;
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-create-category:active {
    background-color: #e5739f;
    transform: translateY(0); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#registration-form {
    display: flex;
    flex-direction: column;
}

#registration-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #6b346a;
}

#registration-form input[type="text"],
#registration-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ffb6c1;
    border-radius: 8px;
    background-color: #fff;
    color: #6b346a;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

#registration-form input::placeholder,
#registration-form textarea::placeholder {
    color: #d08aa6;
}

#registration-form input:focus,
#registration-form textarea:focus {
    border-color: #ff8aae;
    outline: none;
}


#submit-button {
    width: 100%;
    padding: 12px;
    background-color: #ffb6c1; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#submit-button:hover {
    background-color: #ff8aae; 
    transform: translateY(-2px);
}

#submit-button:active {
    background-color: #e5739f;
    transform: translateY(0);
}
.error {
    color: #e5739f; 
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a:active{
        color: var(--text-color);
    }
    .navbar.open{
        right: 2%;
    }
    .content {
        flex-direction: column;
        align-items: center;   
        text-align: center;   
    }

    .container {
        max-width: 90%; 
        margin: 100px auto 0px;  
    }

    .capa {
        max-width: 100%; 
        margin-bottom: 20px; 
    }

    .text-section {
        align-items: center; 
    }
}
html {
    scroll-behavior: smooth;
}

